/**
 * common styles
 */
body {
  padding-top: 70px; // because of fixed navbar
}
.margin-top {
  margin-top: 15px !important;
}
.center {
  text-align: center;
}
p small {
  color: gray;
}
.inline-block {
  display: inline-block;
}

/**
 * Bootstrap overrides
 */
h1 {
  margin-top: 10px;
}

.page-header {
  margin-top: 20px;
}

#chat {
  .col-xs-2 {
    padding-right: 0; //0 padding so user image can be bigger
  }
}

/**
 * dots...
 */
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  &.dot-offline {
    background: red;
  }
  &.dot-online {
    background: #0c0;
  }
}

img {
  max-width: 100%;
}

/**
 * ===== #chat =====
 */
#chat {
  .chat-with {
    margin-top: -20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #efefef;
  }
}

/**
 * Responsive queries
 */
//desktop & tablet
@media (min-width: 768px) {
  #chat {
    .col-xs-2 {
      width: 8%;
    }
  }
}

//mobile
@media (max-width: 768px) {

}