<template name="header">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        {{#if currentUser}}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {{/if}}

        {{#if loggingIn}}
          <a class="navbar-brand" href="#">Logging in <small>please wait...</small></a>
        {{else}}
          <a class="navbar-brand" href="/">
            {{#if showBackBtn}}
              <span class="glyphicon glyphicon-chevron-left"></span>
            {{/if}}
            <img src="/logo.png"  alt="FasterChat" /> <small>{{#unless hasConnection}}(Offline){{/unless}}</small>
          </a>
        {{/if}}
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="logout"><span class="glyphicon glyphicon-off"></span> {{currentUser.profile.name}}</a></li>
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
</template>